@font-face {
    font-family: "Lato";
    src: url('assets/font/Lato-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: "Lato";
    src: url('assets/font/Lato-Black.ttf');
    font-weight: 700;
}

@font-face {
    font-family: "Lato";
    src: url('assets/font/Lato-Light.ttf');
    font-weight: 300;
}

html {
    font-size: 10px;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Lato";
    font-size: 1.6rem;
}

h1 {
    font-size: 3rem;
    line-height: 3.1rem;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
}

h2 {
    font-size: 1.8rem;
    line-height: 1.9rem;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
}

/*portfolio*/

.wrapper {
    max-width: 1020px;
    margin: auto;
}

.portfolio-wrapper{
    background-color: #2d303a;
    padding: 6.3rem 0rem 4.7rem;
    border-bottom: 0.6rem solid #323746;
}

.portfolio-tittle {
    margin: 0;
    padding: 0 4rem 0.8rem;
}

.portfolio-subtitle {
    margin: 0;
    padding: 1.8rem 4rem 1.6rem;
    font-size: 1.8rem;
    line-height: 1.9rem;
    letter-spacing: -0.2px;
    color: #767e9e;
}

.portfolio-block-button{
    display: flex;
    padding: 0 4rem 2rem 4rem;
}

.portfolio-button {
    margin-right: 1rem;
    padding: 0 0.6rem;
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2rem;
    color: #666d89;
    border: 0.1rem solid #666d89;
    border-radius: 0.5rem;
    background-color: #2d303a;
    cursor: pointer;
    transition: border-color .2s linear, color .2s linear;
    outline: none;
}

.portfolio-button:hover {
    border-color: #c5c5c5;
    color: #c5c5c5;
}

.portfolio-button-first {
    color: #c5c5c5;
    border: 0.1rem solid #c5c5c5;
}

.portfolio-work {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-height: 62rem;
    overflow: hidden;
    padding: 0 4rem;
}

.portfolio-work-img {
    margin-bottom: 2rem;

    max-width: 22rem;
    max-height: 18.7rem;
    overflow: hidden;
}

/*about-us*/

.about-us-wrapper {
    background-color: #f2f2f2;
    padding: 6.2rem 4rem;
    border-bottom: 0.6rem solid #ffffff;
}

.about-us-tittle {
    margin: 0;
}

.about-us-subtitle {
    margin: 2rem 0 3rem;
    padding: 0rem 0rem 1.5rem;
    font-size: 1.8rem;
    letter-spacing: -0.08px;
    line-height: 3rem;
    color: #767e9e;
}

.about-us-persons{
    display: flex;
}

.person {
    display: block;
    width: 33.3%;
    margin-right: 2rem;
    min-width: 15rem;
}

.person:last-child {
    margin-right: 0;
}

.person-foto {
    display: block;
    max-width: 100%;
    height: auto;
}

.person-name {
    margin: 1.7rem 0 1rem;
    letter-spacing: -0.2px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.person-resume {
    margin: 0rem;
    font-size: 1.2rem;
    line-height: 2.1rem;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    letter-spacing: -0.09px;
}

.person-social-media {
    display: flex;
    margin: 2.4rem 0rem 0.1rem;
    cursor: pointer;
    transition: border-color .2s linear, color .2s linear;
}

.social-media-icon {
    margin: 0 0.85rem 0 0;
    max-width: 3.2rem;
}

.person-social-media:last-child {
    margin-right: 0;
}