@font-face {
    font-family: "Lato";
    src: url('assets/font/Lato-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: "Lato";
    src: url('assets/font/Lato-Black.ttf');
    font-weight: 700;
}

@font-face {
    font-family: "Lato";
    src: url('assets/font/Lato-Light.ttf');
    font-weight: 300;
}

html {
    font-size: 10px;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Lato";
    font-size: 1.6rem;
}

h1 {
    font-size: 3rem;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
}

h2 {
    font-size: 1.8rem;
    line-height: 2rem;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
}

/*portfolio*/

.wrapper {
    max-width: 1020px;
    margin: auto;
}

.portfolio__wrapper{
    background-color: #2d303a;
    padding: 4.5rem 0rem;
    border-bottom: 0.6rem #323746;
}

.portfolio-tittle {
    padding: 0 4rem;
}

.portfolio-subtitle {
    margin-bottom: 0;
    padding: 0.5rem 4rem 1.5rem;
    font-size: 1.8rem;
    letter-spacing: -0.2px;
    color: #767e9e;
}

.portfolio-block-button{
    display: flex;
    padding: 0 4rem 2rem 4rem;
}

.portfolio__button {
    margin-right: 10px;
    padding: 0px 6px;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 21.56px;
    color: #666d89;
    border: 1px solid #666d89;
    border-radius: 5px;
    background-color: #2d303a;
    cursor: pointer;
    transition: border-color .2s linear, color .2s linear;
    outline: none;
}

.portfolio__button:hover {
    border-color: #c5c5c5;
    color: #c5c5c5;
}

.portfolio__button__first {
    color: #c5c5c5;
    border: 1px solid #c5c5c5;
}

.portfolio-work {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-height: 621px;
    overflow: hidden;
    padding: 0 4rem;
}

.portfolio-work-img {
    margin-bottom: 20px;

    max-width: 220px;
    max-height: 187px;
    overflow: hidden;
}

/*about-us*/

.about-us__wrapper {
    background-color: #f2f2f2;
    padding: 7.5rem 4rem;
    border-bottom: 0.6rem #ffffff;
}

.about-us__tittle {
    margin: 0;
}

.about-us__subtitle {
    margin-bottom: 3rem;
    padding: 1rem 0rem 1.5rem;
    font-size: 1.8rem;
    letter-spacing: -0.08px;
    line-height: 3rem;
    color: #767e9e;
}

.about-us__persons{
    display: flex;
}

.person {
    display: block;
    width: 33.3%;
    margin-right: 2rem;
    overflow: auto;
}

.person:last-child {
    margin-right: 0;
}

.person-foto {
    display: block;
    max-width: 100%;
    height: auto;
}

.person__name {
    margin: 1.5rem 0 0.9rem;
    letter-spacing: -0.2px;
}

.person__resume {
    margin: 0rem;
    font-size: 1.2rem;
    line-height: 2.15rem;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    letter-spacing: -0.09px;
}

.person__social-media {
    display: flex;
    margin: 2.4rem 0rem;
    cursor: pointer;
    transition: border-color .2s linear, color .2s linear;
}

.social-media-icon {
    margin: 0 0.85rem 0 0;
    max-width: 32px;
}

.person__social-media:last-child {
    margin-right: 0;
}