@font-face {
    font-family: "Lato";
    src: url('assets/font/Lato-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: "Lato";
    src: url('assets/font/Lato-Black.ttf');
    font-weight: 700;
}

@font-face {
    font-family: "Lato";
    src: url('assets/font/Lato-Light.ttf');
    font-weight: 300;
}

html {
    font-size: 10px; /*Относительное значение размера шрифта для всей страницы
    /Relative font size value for the entire page*/
    box-sizing: border-box; /*Присваеваем свойство border-box всем элементам и псевдоэлементам до/после
    /Assign the border-box property to all elements and pseudo-elements before/after*/  
}

*, *:before, *:after {
    box-sizing: inherit;
    /*Наследуем свойство border-box из родителя, можно переопределить значение в плагине
    /Inheriting the border-box property from the parent, you can override the value in the plugin*/
}

body {
    margin: 0;
    font-family: "Lato";
    font-size: 1.6rem;
    background-color: #fefefe;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul, p {
    margin: 0;
    padding: 0;
}

/* Container */

.container {
    width: 100%;
    max-width: 1020px;
    margin: 0 auto;
    padding: 0 30px;
}

/* HEADER */

.header {
    padding: 34px 0 30px;
    background-color: #2d303a;
    border-bottom: solid 6px #323746;
}

.header_wrap {
    display: flex;
    justify-content: space-between; 
    /*Флексы равномерно распределяются по всей строке. 
    Первый и последний элемент прижимаются к соответствующим краям контейнера.
    The flexes are evenly distributed across the entire line. 
    The first and last elements are pressed against the corresponding edges of the container.*/
    align-items: baseline; 
    /*Флексы выравниваются по их базовой линии.
    Flexes are aligned to their baseline.
    */
    padding: 0 10px;
}

.header_title {
    font-size: 2.5rem;
    font-family: "Lato";
    font-weight: 700;
    line-height: 1;
    letter-spacing: -.5px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}

.header_title span {
    color: #f06c64;
}

.nav_list {
    display: flex;
    font-size: 1.2rem;
    font-weight: 700;
    font-family: "Lato";
    color: #fff;
    list-style: none;
    text-transform: uppercase;
}

.nav_list_item {
    margin-right: 29px;
    cursor: pointer;
    transition: color .2s linear;
    position: relative;
}

.nav_list_item::after {
    content: "";
    background-color: #434759;
    width: 3px;
    height: 3px;
    border-radius: 50%;

    position: absolute;
    top: 50%;
    right: -16px;

    transform: translateY(-50%);
}

.nav_list_item:hover {
    color: #f06c64;
    text-decoration: underline;
}

.nav_list_item:last-child {
    margin-right: 0;
}

.nav_list_item:last-child::after {
    width: 0;
}

.nav_list_item-first {
    color: #f06c64;
}

/*Slider*/

.slider{
    padding: 53px 0 45px;
    background-color: #f06c64;
    border-bottom: solid 15px #ea676b;
}

.slider_wrap {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 10px;
}

.iphone_ver {
    display: block;
    padding-left: 36px;
}

.iphone_hor {
    display: block;
    padding-right: 34px;
}

.arrow {
    position: absolute;
    top: calc(50% - 16px);
    cursor: pointer;
}

.arrow_right {
    right: 10px;
}

.arrow_left {
    left: 11px;
}

/*services*/

.services{
    height: 495px;
    background-color: #f2f2f2;
}

.services_wrap{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 33px 0px 0px;
}

.services_title {
    padding: 62px 10px 0;
    font-size: 3rem;
    line-height: 1;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
}

.services_text {
    padding: 22px 10px 12px;
    font-size: 1.8rem;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    text-align: left;
}

.services_item {
    display: flex;
    width: 320px;
    height: 122px;
}

.services_item_img {
    height: 61px;
    width: 61px;
    margin: 0px 10px;
}

.services_item_text {
    padding: 0px 10px;
    font-family: "Lato";
}

.services_item_text h3 {
    font-size: 1.8rem;
    line-height: 1.8rem;
    color: #666d89;

    font-weight: 900;
    text-align: left;
}

.services_item_text p {
    padding-top: 10px;
    font-size: 1.2rem;
    line-height: 2.2rem;
    color: #767e9e;
    font-weight: 400;
}